<div class="text-center">
    <main class="form-signin">
        <form ng-submit="login()">
            <h1 class="h3 mb-3 fw-normal">Sign In</h1>

            <div class="alert alert-danger" role="alert" ng-show="alert.error">{{ alert.error }}</div>
            <div class="alert alert-success" role="alert" ng-show="alert.success">{{ alert.success }}</div>
    
            <div class="form-floating">
                <input type="text" class="form-control first" id="floatingInput" placeholder="Username" ng-model="form.username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control last" id="floatingPassword" placeholder="Password" ng-model="form.password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </main>
</div>
